.idea
tubefeeder_derive/target
/target
*~*
packaging/AppImage/Tubefeeder-latest-*.AppImage
packaging/AppImage/AppDir
packaging/AppImage/appimage-builder-cache
packaging/AppImage/libapprun_hooks.so
packaging/AppImage/excludelist
packaging/AppImage/appdir-lint.sh
resources.gresource
.cargo
