[package]
name = "tubefeeder"
version = "1.3.1"
authors = ["Julian Schmidhuber <schmidhuberj2@protonmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
gio = "0.14.0"
gtk = {version = "0.14.0"}
gdk-pixbuf = "0.14.0"
glib = "0.14.4"
pango = "0.14.3"
relm = "0.22.0"
relm-derive = "0.22.0"
libhandy = "0.8.0"
tokio = {version = "1.2.0", features = ["full"]}
futures = "0.3.13"
regex = "1.5.4"
chrono = {version = "0.4.19"}
csv = "1.1.6"
reqwest = "0.11.4"

log = "0.4.14"
env_logger = "0.9.0"

tf_core = { package = "tf_core", git = "https://github.com/Tubefeeder/tubefeeder-extractor.git", rev = "a8016af0b418b8605f23ac86561b1cc170c9bb1d" }
tf_join = { package = "tf_join", git = "https://github.com/Tubefeeder/tubefeeder-extractor.git", rev = "a8016af0b418b8605f23ac86561b1cc170c9bb1d" }
tf_filter = { package = "tf_filter", git = "https://github.com/Tubefeeder/tubefeeder-extractor.git", rev = "a8016af0b418b8605f23ac86561b1cc170c9bb1d" }
tf_observer = { package = "tf_observer", git = "https://github.com/Tubefeeder/tubefeeder-extractor.git", rev = "a8016af0b418b8605f23ac86561b1cc170c9bb1d" }
tf_playlist = { package = "tf_playlist", git = "https://github.com/Tubefeeder/tubefeeder-extractor.git", rev = "a8016af0b418b8605f23ac86561b1cc170c9bb1d" }
tf_yt = { package = "tf_platform_youtube", git = "https://github.com/Tubefeeder/tubefeeder-extractor.git", rev = "a8016af0b418b8605f23ac86561b1cc170c9bb1d" }
tf_pt = { package = "tf_platform_peertube", git = "https://github.com/Tubefeeder/tubefeeder-extractor.git", rev = "a8016af0b418b8605f23ac86561b1cc170c9bb1d" }
tf_lbry = { package = "tf_platform_lbry", git = "https://github.com/Tubefeeder/tubefeeder-extractor.git", rev = "a8016af0b418b8605f23ac86561b1cc170c9bb1d" }
