[Desktop Entry]
Type=Application
Icon=de.schmidhuberj.tubefeeder
Name=Tubefeeder
Comment=A YouTube, LBRY and PeerTube client
Comment[it]=Un client per YouTube, LBRY e PeerTube
StartupWMClass=Tubefeeder
Exec=/app/bin/tubefeeder
Categories=Video;AudioVideo
X-Purism-FormFactor=Workstation;Mobile;
