[Desktop Entry]
Type=Application
Icon=de.schmidhuberj.tubefeeder
Name=Tubefeeder
StartupWMClass=Tubefeeder
Exec=/app/bin/tubefeeder
Categories=Video;AudioVideo
X-Purism-FormFactor=Workstation;Mobile;
